<hr width="15%" />

<%= link_to "Create a New User", new_user_path %>

<h2>...or Browse Your Users Below</h2>

<hr width="40%" />

<div id="users">
  <% @users.each do |user| %>
    <%= render user %>

    <%= render template: "/buttons/data_actions", :locals => { view: __FILE__, class_name: user } %>

    <hr width="85%" />
  <% end %>
</div>
