<h1>Editing product line</h1>

<%= render "form", product_line: @product_line %>

<br>

<hr width="40%" />

<%= render template: "/buttons/data_actions", :locals => { view: __FILE__, class_name: @product_line } %>
