<div>
  <%= link_to "See All Users", users_path, :class => "button" %>
</div>

<div>
  <%= link_to "See All Testimonials", users_path, :class => "button" %>
</div>

<div>
  <%= link_to "See All Product Lines", users_path, :class => "button" %>
</div>