<div>
  <% if @current_user %>
    <h3>It looks like you are logged in already. Please use the navigation bar above to access the database.</h4>
  <% else %>
    <%= render :template => "/sessions/new" %>
  <% end %>
</div>