<div>
  <%= link_to "See All Users", users_path, :class => "button" %>
</div>

<div>
  <%= link_to "See All Testimonials", testimonials_path, :class => "button" %>
</div>

<div>
  <%= link_to "See All Product Lines", product_lines_path, :class => "button" %>
</div>