<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>This is a Test Contact Email</h1>
    <p>
      You (<%= user.name %>) have successfully signed up to example.com,
      your username is: <%= @user.username %>.<br>
    </p>
    <p>
      To navigate the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for reading!</p>
  </body>
</html>