<h1>Editing testimonial</h1>

<%= render "form", testimonial: @testimonial %>

<br>

<hr width="40%" />

<%= render template: "/buttons/data_actions", :locals => { view: __FILE__, class_name: @testimonial } %>
