<h1>Editing testimonial</h1>

<%= render "form", testimonial: @testimonial %>

<br>

<div>
  <%= link_to "Show this testimonial", @testimonial %> |
  <%= link_to "Back to testimonials", testimonials_path %>
</div>
