<hr width="15%" />

<%= link_to "Create a new testimonial", new_testimonial_path %>

<h2>...or Browse Your Testimonials Below</h2>

<hr width="40%" />

<div id="testimonials">
  <% @testimonials.each do |testimonial| %>
    <%= render testimonial %>

    <%= render template: "/buttons/data_actions", :locals => { view: __FILE__, class_name: testimonial } %>

    <hr width="85%" />
  <% end %>
</div>
