<% if notice %>
  <p style="color: green"><%= notice %></p>
<% end %>

<hr width="15%" />

<%= link_to "Create a new testimonial", new_testimonial_path %>

<h2>...or Browse Your Testimonials Below</h2>

<hr width="40%" />

<div id="testimonials">
  <% @testimonials.each do |testimonial| %>
    <%= render testimonial %>
    <%= link_to "Show this testimonial", testimonial %>
    <hr width="75%" />
  <% end %>
</div>
